.footer-half {
    background-color: #824FF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 50vh;
}

.logo-footer {
    color: white !important;
    height: 40px;
    text-align: center;
}

.footer-img {
    width: 100%;
    height: 50vh;
}

.footer {
    height: 50vh;
}