.footer-half {
    background-color: #824FF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 45vh;
    margin-top: 10rem;
}

.logo-footer {
    color: white !important;
    height: 40px;
    text-align: center;
}

.footer-img {
    width: 100%;
    height: 45vh;
    background-size: cover;
    margin-top: 10rem;
}

.col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
}

@media screen and (max-width:375px) {
    .footer-img {
        margin-top: 0px;
    }

    .grp-btn {
        margin-top: -40px;
    }
}