.profile-department{
  background-color: #e3e7e6;
  margin-top: 0%;
  color: black;
  padding: 5%;
  height: 80rem;
  /* margin-left: 14.6%; */
}


#profile-img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin-left: 25%;
    margin-top: 5%;

}

#profle-box{
  margin-left: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#profile-box-text{
    text-align: center;
}

.task-box{
    padding: 2%;
    box-sizing: border-box;
  
    background-color: var(--main-background-color);
    width: 25%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#number-display{
    color: white;
    padding-left: 18%;
    font-size: 2rem;
}

#task-box{
    background-color: var(--main-background-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
}

#profile-text{
    display: flex;
}


#sub-title{
    font-size: 100%;
}

.task-progress-container{
    display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-left: 50%;
   margin-top: -250px;
   width: 50%;
   padding-right: 14px;
}

#view:hover{
  scale: 1.1;

}

#task-Details{
  border: 9px solid var(--main-background-color);
}





.graph-section{
    margin-top: 20%;
}

.chart-container {
  display: flex;
}



.chart {
  position: relative;
  margin-left: 20px; 
}

.x-axis {
  display: flex;
  justify-content: space-between;
  margin-top: 1%; 
}

.chart-area {
  width: 660px; 
  height: 300px; 
  border-left: 2px solid var(--main-background-color);
  border-bottom: 2px solid var(--main-background-color);
}


.day-label{
    padding: 2%;
}



.chart-bar{
    display: flex;
    flex-wrap: wrap;
}

.chart-region {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 500px; 

margin-top:  20%;
margin-left:  3%;
position: absolute;
  }

  .sunday { height: 10px; }
.monday { height: 8px; }
.tuesday { height: 6px; }
.wednesday { height: 7px; }
.thursday { height: 10px; }
.friday { height: 5px; }
.saturday { height: 11px; }.bar {
    width: 50px; 
    background-color: var(--main-background-color); 
  }


  .task-graph{
    margin-top: 90px;
    margin-left: 15%;
  }
  
  

  @media screen and (max-width : 500px){
    .profile-department{
      background-color: white;
    }

    .task-progress-container{
      margin-top: 20%;
      margin-left: 18%;
    }

    .task-graph{
      margin-left: -10%;
    }
    .calender-section {
/* margin-top: 200px; */
width: 300%;
/* margin-left: -215%; */
/* margin-top: 500px; */
position: absolute;
    }
  }